{
	email {$CERT_EMAIL}
	# https://github.com/mholt/caddy-ratelimit?tab=readme-ov-file#caddyfile-config
	order rate_limit before basicauth

	log {
		level ERROR
	}
}

{$DOMAIN} {
	rate_limit {
		zone myzone {
			key {remote_ip}
			# 20 requests/min
			events 20
			window 1m
		}
	}

	handle / {
		reverse_proxy {
			to {$UPSTREAMS}

			# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#load-balancing
			lb_policy round_robin

			lb_try_duration 1s
		}
	}

	handle {
		respond "Not found" 404
	}

	# https://caddyserver.com/docs/caddyfile/directives/handle_errors#examples
	handle_errors 429 {
		respond "You're being rate limited. Please try again in 1 minute."
	}
}
